:root {
    /* colours */
    --col-dark-main: hsl(0, 0%, 0%);
    --col-dark-darker: hsl(0, 0%, 5%);
    --col-dark-dark: hsl(0, 0%, 10%);
    --col-dark-light: hsl(0, 0%, 31%); 
    --col-dark-lighter: hsl(0, 0%, 45%);
    --col-dark-lightest: hsl(0, 0%, 55%);

    /* inputs */
    --col-input: hsl(0, 0%, 90%);
    --col-highlight: hsl(229, 100%, 78%);

    /* buttons */
    --button-warning:rgb(207, 0, 0);
    --button-warning-highlight:hsl(0, 100%, 60%);
    --button-good:rgb(0, 189, 25);
    --button-good-disabled:hsl(128, 30%, 20%);

    /* font */
    --col-brand:rgb(255, 51, 51);

    /* shades */
    --shade-dark:rgba(0, 0, 0, 0.8);
    --shade-light-min:rgba(255, 255, 255, 0.25);
    --shade-light:rgba(255, 255, 255, 0.45);
    --shade-lighter:rgba(255, 255, 255, 0.65);
}

/* @media only screen and (min-width: 1030px) {

  } */